* {
  font-family: Helvetica;
}


body { 
  margin: 0;
  min-height: 75rem;
  padding-top: 4.5rem;
  padding-bottom: 20px;
}


#inner {
  width: 65%;
  display: table;
  margin: 0 auto;


}

#inner_content {
  width: 65%;
  display: table;
  margin: 0 auto;
  background-color: #ffffff;

}

#outer {
  width:100%;
  background-color: #009090;
  position:fixed;
  top:0;
}

:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}

.navbar {
  background-color: #009090;
}
.navbar .navbar-brand {
  color: #eeeeee;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}

.navbar .navbar-text a {
  color: #ffffff;
  background-color: #97c7c7;

}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
  background-color: #97c7c7;
  
}
.navbar .navbar-nav .nav-link {
  color: #eeeeee;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #009090;

}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #eeeeee;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #97c7c7;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
}


.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #97c7c7;
}

.navbar .navbar-toggle .navbar-toggler-icon {
  color: #eeeeee;

}


.navbar .navbar-collapse,
.navbar .navbar-form {

}

.navbar .navbar-link {
  color: #eeeeee;
}

.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eeeeee;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #97c7c7;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eeeeee;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #97c7c7;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eeeeee;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #97c7c7;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #eeeeee;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #97c7c7;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #eeeeee;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #97c7c7;
}



.category_heading {
  border-style: solid;
  border-color: #009090;
  border-width: 1px;
  background-color: #97c7c7;
  margin: 1em 0em 1em 0em;
  padding: 1em;
  color: #000000;
  overflow:hidden;

}

.container {
  border: #009090;
}


.category {
  border-style: solid;
  border-color: #009090;
  border-width: 1px;
  margin: 0em 0em 1em 0em;
  padding: 0em 1em 0em 1em;
  overflow:hidden;
}

.category_white {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  margin: 0em 0em 1em 0em;
  padding: 0em 1em 0em 1em;
  overflow:hidden;
}



ul {

  -webkit-columns 2 300px;
   -webkit-column-gap: 20px;
   -moz-columns: 2 300 px;
   -moz-column-gap: 20px;
   column-count: 2;
   column-gap: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.halfwidth {
  width: 48%;
  height: auto;
}

.fullwidth {
  width: 100%;
  height: auto;
  padding-bottom: 1em;
}
   